{
  email {$LETSENCRYPT_EMAIL}
}

{$APP_DOMAIN} {
  encode zstd gzip

  header {
    X-Frame-Options "SAMEORIGIN"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "strict-origin-when-cross-origin"
  }

  route {
    redir /phpmyadmin /phpmyadmin/ 308
    @pma_double path_regexp pmaDouble ^/phpmyadmin/phpmyadmin(?:/.*)?$
    redir @pma_double /phpmyadmin/ 308

    @pma_root path /index.php /index.php/*
    redir @pma_root /phpmyadmin{uri} 308

    handle_path /phpmyadmin/* {
      reverse_proxy phpmyadmin:80
    }

    reverse_proxy web:3000
  }
}
